        <footer class="container-fluid" id="footer">
            <div class="row">
                <div class="col-sm-3">
                    <p>A.C.T. Inc</p>
                    <p>69 S. LaSalle Street</p>
                    <p>Aurora, IL  60505 USA</p>
                </div>
                <div class="col-sm-3">
                    <p>Phone +1 630.896.2281</p>
                    <p>Fax +1 630-859-7576 </p>
                    <p>Standard Business Hours</p>
                    <p>Monday thru Friday</p>
                    <p>8:00 am to 5:00 pm CST</p> 
                </div>
                <div class="col-sm-3">
                    <p><strong>Customer Community</strong></p>
                    <p><a href="https://expocadcommunity.groupsite.com/login">Login</a> | 
                    <a href="https://expocadcommunity.groupsite.com/join">Join</a></p>
                    <p><strong>Contactor Community</strong></p>
                    <p><a href="https://expocadcontractorcommunity.groupsite.com/login">Login</a> | 
                    <a href="https://expocadcontractorcommunity.groupsite.com/join">Join</a></p>
                </div>
                <div class="col-sm-3">
                    <p><a href="#">About</a></p>
                    <p><a href="#">Trust Center</a></p>
                    <p><a href="#">Customer Portals</a></p>
                    <p>
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-linkedin-in"></i>
                        <i class="fab fa-google-plus"></i>
                    </p>
                </div>
            </div>
        </footer>
        <footer class="container-fluid" id="subFooter">
            <div class="row">
                <div class="col-sm-4">
                    <p>EXPOCAD® is a registered trademark of A.C.T. Inc.  All Rights Reserved.</p>
                </div>
                 <div class="col-sm-4">
                    <p id="subFooterTitle">e<span class="expocadLogo">x</span>pocad 2018</p>
                </div>
                <div class="col-sm-4">
                    <p>Applied Computer Technology, Inc. Est. 1986</p>
                </div>
            </div>
        </footer>
    <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/Javascripts/index.js"></script>
    </body>
</html>