<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/materia/bootstrap.min.css" rel="stylesheet" integrity="sha384-3e5vG6/QiyHhwOR48/nvSyd+BAndFCuA4km61zJyky3Xr6mlaGNvyvJZjtac/He7" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Roboto+Condensed:300,300i,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="Static/Stylesheets/style.css">
    <title>Expocad</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/News">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/About">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Benefits">Benefits</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Contact">Contact</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      

