<% include Partials/Header %>
<div class="container-fluid" ID="containerHero">
    <div class="jumbotron" id="homeHero">
        <h1 class="display-3">e<span class="expocadLogo">x</span>pocad</h1>
        <p id="subHeroTitle" class="lead">The Professional's Choice</p>
        <p>
            EXPOCAD® is the professionals' choice for graphical exhibition and exhibitor marketing software and is the administrator for<br/> 
            all behind the scenes needs of show management sales and operations teams.  </p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">See Demo Now</a>
        </p>
      </div>
</div>
<div class="container mt-6">
    <div class="row">
        <div class="col-sm-12" id="homeSubHero">
            <h6>The Professional's Choice</h6>
            <hr />
            <h2>We're With You all The Way</h2>
        </div>
    </div>
</div>
<% include Partials/Footer %>