<% include Partials/Header %>
<div class="container-fluid" ID="containerHero">
    <div class="jumbotron" id="homeHero">
        <p class="lead">The Professional's Choice:</p>
        <h1 class="display-3">e<span class="expocadLogo">x</span>pocad</h1>
        <p id="subHeroTitle" class="lead">Graphical Exposition Management Software</p>
        <p>
            EXPOCAD® is the professionals' choice for graphical exhibition and exhibitor marketing software and is the administrator for<br/> 
            all behind the scenes needs of show management sales and operations teams.  </p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">See Demo Now</a>
        </p>
      </div>
</div>
<div class="container mt-6">
    <div class="row">
        <div class="col-sm-12 mt-6" id="homeHero3">
            <h2>We're With You</h2>
            <h2>All The Way</h2>
            <p>Often copied, never equaled.  The only truly accurate automated CAD based show management tool on the market that is completely integrated with the Contractor's software on the back end admin side. </p>
        </div>
    </div>
</div>
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-sm-3">
            <div class="col-sm-12 productDiv">
                <i class="fas fa-desktop"></i>
                <p><strong>Expocad Desktop</strong></p>
                <p>
                    Event Floor Plan Management Software Created for
                    Show Organizers and Operations Teams to Manage Exhibitors and Exposition Space. 
                    Multi-Event Management - Any Venue - Any Size - Indoors or Out 
                </p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="col-sm-12 productDiv">
                 <p id="FXIcon">fx</p>   
                 <p><strong>Expocad FX</strong></p>
                 <p>
                    EXPOCAD® FX is Our Core Interactive Online Floor Plan and can be used for Exhibitor Sales and Marketing and as an Attendee Tool.    Perfect for Live On-site and Online Space Sales. 
                 </p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="col-sm-12 productDiv">
                <i class="far fa-window-maximize"></i>
                <p><strong>Expocad WEB</strong></p>
                <p>
                    Auto-Responsive Technology
                    Viewed on Any Device using Any Browser  
                    Including Smart Phones and Tablets 
                </p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="col-sm-12 productDiv">
                <i class="fas fa-shield-alt"></i>
                <p><strong>E L I Event Security</strong></p>
                <p>
                    ELI CaddyL I™ was Created to Assist Organizers and Venues in the Ability to Pin Point the Location of a Disturbance or Situation that Requires an  Immediate Response. 
                </p>
            </div>
        </div>
        <div class="col-sm-3 mt-5">
                <div class="col-sm-12 productDiv">
                    <i class="far fa-newspaper"></i>
                    <p><strong>ExpocadSNaP</strong></p>
                    <p>
                        We Also Offer Customized Solutions Available in Traditional Print and e-Published Formats as well as Onsite Services
                    </p>
                </div>
            </div>
            <div class="col-sm-3 mt-5">
                <div class="col-sm-12 productDiv">
                    <i class="fas fa-drafting-compass"></i>
                    <p><strong>Space Draw Services</strong></p>
                    <p>
                        Space Draws are also referred to as space selection,
                        re-book, re-assign, onsite sales or other such descriptive terms that mean choosing exhibit space
                        for a future event.   
                    </p>
                </div>
            </div>
            <div class="col-sm-3 mt-5">
                <div class="col-sm-12 productDiv">
                    <i class="fas fa-file-signature"></i>
                    <p><strong>Contractor</strong></p>
                    <p>
                        CONTRACTOR™ is a dimensionally accurate data driven graphics program allowing easy designing with reports and auditing features that compare and update customer plans within seconds. 
                    </p>
                </div>
            </div>
            <div class="col-sm-3 mt-5">
                <div class="col-sm-12">
                    <img alt="Expocaddy In Thought" class="img-fluid" src="Static/Images/expocadcaddythinking2.png" />
                </div>
            </div>
    </div>
</div>

<% include Partials/Footer %>